.idea/
*.iml
.DS_Store
__pycache__/
*.pyc
*.pyo
.venv/
venv/

android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
android/captures/
android/*.iml
android/.cxx/

*.apk
*.aar
*.ap_
*.aab
local.properties
